{% if compound.sub_xml.compounddef[0].title != nil %}
<h2 class="page-header">{{ compound.sub_xml.compounddef[0].title }}</h2>
{% endif %}

<p>{{ compound.sub_xml.compounddef[0].detaileddescription }}</p>
