<div class="wrapper">
    <nav id="sidebar">
        <div class="topsidebar">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Modules
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Modules</a></li>
                    <li><a href="#">Namespaces</a></li>
                    <li><a href="#">etc...</a></li>
                </ul>
            </div>
            <div class="list-module">
                {% for compound in compounds %}{% if compound.kind == 'group' %}
                <a href="#" class="list-group-item">{{ compound.sub_xml.compounddef[0].title }}</a>
                {% endif %}{% endfor %}

            </div>
        </div>
        <div class="middlesidebar">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Classes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">TypeDef</a></li>
                    <li><a href="#">Enum</a></li>
                    <li><a href="#">etc...</a></li>
                </ul>
            </div>
        </div>
        <div class="bottomsidebar">
            <ul class="list-group">
                {% for compound in compounds %}{% if compound.kind == 'group' %}
                {% for class in compound.sub_xml.compounddef[0].innerclass %}
                <a href="{{ class.refid }}.html" class="list-group-item">{{ class.content }}</a>
                {% endfor %}{% endif %}{% endfor %}
            </ul>
        </div>
    </nav>
</div>
