<div class="col-sm-3 col-md-2 sidebar">
    <div class="nav nav-sidebar">
        <select id="versions_dropdown">
            <optgroup label="Modules">
                {%- for compound in groups -%}
                <option value="module_{% increment count %}">{{ compound.name }}</option>
                {%- endfor -%}
            </optgroup>
        </select>

        <ul id="categories">

            <li class="category module_0"><span>Typesdef</span>
                <ul>
                    <li>
                        <a class="element module_0">Truc</a>
                    </li>
                </ul>
            </li>

            {% for compound in groups %}
            {% if compound.classes %}
            <li class="category open_me module_{% increment count3 %}"><span>Classes</span>
                <ul>
                    {%- for class in compound.classes -%}
                    <li><a href="{{ class.url }}" class="element module_{{ count3 | minus:1 }}">{{ class.name }}</a></li>
                    {%- endfor -%}
                </ul>
            </li>
            {%- endif -%}
            {% endfor %}

        </ul>
    </div>
</div>