<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="Weider Guillaume">

    <title>Main page &mdash; Gamedev Framework (gf)</title>

    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link href="../css/booxygen.css" rel="stylesheet">
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="main.html">Gamedev Framework (gf) 0.4.0</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="main.html">Main Page</a></li>
                <li><a href="documentation.html">Documentation</a></li>
                <li><a href="index.html">Index</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/GamedevFramework/gf">GitHub</a></li>
                <li><a href="https://www.reddit.com/r/GamedevFramework/">Reddit</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">

        <!-- ******************************************************************************************************* -->
        <div class="col-sm-3 col-md-2 sidebar topsidebar">
            <p>Modules</p>
            <ul class="list-group">
                {% for compound in compounds %}{% if compound.kind == 'group' %}
                <a href="#" class="list-group-item">{{ compound.sub_xml.compounddef[0].title }}</a>
                {% endif %}{% endfor %}
            </ul>
        </div>

        <div class="col-sm-3 col-md-2 sidebar bottomsidebar">

            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    Classes
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">Classes</a></li>
                    <li><a href="#">TypeDef</a></li>
                    <li><a href="#">Enum</a></li>
                    <li><a href="#">etc...</a></li>
                </ul>
            </div>

            <ul class="list-group">
                {% for compound in compounds %}{% if compound.kind == 'group' %}{% for class in
                compound.sub_xml.compounddef[0].innerclass %}
                <a href="#" class="list-group-item">{{ class }}</a>
                {% endfor %}{% endif %}{% endfor %}
            </ul>
        </div>
        <!-- ******************************************************************************************************* -->

        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h2 class="page-header">Gamedev Framework (gf)</h2>

            <p><b>Gamedev Framework (gf)</b> is a framework to build 2D games in C++11. It is based on <a
                    href="https://www.libsdl.org/">SDL</a> and <a href="https://www.khronos.org/opengles/2_X/">OpenGL ES
                2.0</a>, and presents an API that is very similar to the graphics module of <a
                    href="http://www.sfml-dev.org/">SFML</a> (see <a class="el" href="differences_with_sfml.html">Differences
                with SFML</a>) with additional features. It is <em>not</em> a <a
                    href="https://en.wikipedia.org/wiki/Game_engine">game engine</a>, it is more something like a
                framework, similar to <a href="https://libgdx.badlogicgames.com/">libGDX</a> in the Java world.</p>
            <p>Gamedev Framework (gf) is licensed under the terms and conditions of the <a
                    href="https://opensource.org/licenses/Zlib">zlib/libpng license</a>.</p>

            <h3>First example</h3>
            <pre>
            <span class="preprocessor">#include &lt;gf/Event.h&gt;
            #include &lt;gf/Font.h&gt;
            #include &lt;gf/RenderWindow.h&gt;
            #include &lt;gf/Sprite.h&gt;
            #include &lt;gf/Text.h&gt;
            #include &lt;gf/Window.h&gt;</span>
            int main() {
              <span class="comment">// Create the main window and the renderer</span>
              <a href="#">gf::Window</a> window(<span class="stringliteral">"Example"</span>, { 640, 480 });
              <a href="#">gf::RenderWindow</a> renderer(window);
              <span class="comment">// Load a sprite to display</span>
              <a href="#">gf::Texture</a> texture;
              <span class="keywordflow">if</span> (!texture.<a href="#">loadFromFile</a>(<span class="stringliteral">"sprite.png"</span>)) {
                <span class="keywordflow">return</span> EXIT_FAILURE;
              }
              <a href="#">gf::Sprite</a> sprite(texture);
              sprite.<a href="#">setPosition</a>({ 300, 200 });
              <span class="comment">// Create a graphical text to display</span>
              <a href="#">gf::Font</a> font;
              <span class="keywordflow">if</span> (!font.<a href="#">loadFromFile</a>(<span class="stringliteral">"DroidSans.ttf"</span>)) {
                <span class="keywordflow">return</span> EXIT_FAILURE;
              }
              <a href="#">gf::Text</a> text(<span class="stringliteral">"Hello gf!"</span>, font, 50);
              text.setPosition({ 100, 100 });
              renderer.<a href="#">clear</a>(<a href="#">gf::Color::White</a>);
              <span class="comment">// Start the game loop</span>
              <span class="keywordflow">while</span> (window.<a href="#">isOpen</a>()) {
                <span class="comment">// Process events</span>
                <a href="#">gf::Event</a> event;
                <span class="keywordflow">while</span> (window.<a href="#">pollEvent</a>(event)) {
                  <span class="keywordflow">switch</span> (event.<a href="#">type</a>) {
                    <span class="keywordflow">case</span> <a href="#">gf::EventType::Closed</a>:
                      window.<a href="#">close</a>();
                      <span class="keywordflow">break</span>;
                    <span class="keywordflow">default</span>:
                      <span class="keywordflow">break</span>;
                  }
                }
                <span class="comment">// Draw the entities</span>
                renderer.<a href="#">clear</a>();
                renderer.<a href="#">draw</a>(sprite);
                renderer.<a href="#">draw</a>(text);
                renderer.<a href="#">display</a>();
              }
              <span class="keywordflow">return</span> 0;
            }
          </pre>

            <h3>Source</h3>
            <p>The source code is available on <a href="https://github.com/GamedevFramework/gf">github</a>.</p>

        </div>
    </div>
</div>

<div id="footer">
    <div class="container">
        <p>Generated by Booxygen</p>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
